/** MOBILE VERSION OF PAGE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 999 PIXELS **/
@media all and (max-width: 999px) {
  main.bee_centre {
    section {
      // HEADER SECTION OF THE PAGE //
      &:nth-of-type(1) {
        height: auto;

        h1 {
          margin: 0;
          font-weight: 900;
          line-height: 100%;
          font-size: 60px;
          text-align: center;
          padding: 0;
          animation: none;
        }
      }

      // MAIN BODY OF THE PAGE //
      // CONTENT //
      &:nth-of-type(2) {
        height: auto;
        padding-bottom: 5vh;

        h2 {
          text-align: center;
          margin: 0;
        }

        h3 {
          text-align: center;
          margin: 0;
        }

        p {
          margin-left: 5vw;
          margin-right: 5vw;
        }


        // VISIBLE IMAGES ON THE PAGE //
        img {
          background-color: grey;
          width: 100%;
          height: 35vh;

          &:nth-of-type(4) {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}

/** DESKTOP VERSION OF PAGE **/
/** MINIMUM SCREEN DEVICE WIDTH OF 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.bee_centre {
    section {
      // HEADER SECTION OF THE PAGE //
      &:nth-of-type(1) {
        display: grid;
        grid-template-columns: [line-0]100vw [line-1];
        grid-template-rows: [row-0]auto [row-1];

        h1 {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          text-align: center;
          animation: none;
        }
      }

      // MAIN BODY OF THE PAGE //
      // CONTENT //
      &:nth-of-type(2) {
        display: grid;
        grid-template-columns: [line-0]50vw [line-1]30vw [line-2];
        grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7]auto [row-8]auto [row-9];
        justify-content: center;

        h2 {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          text-align: left;
          place-self: start;
          animation: none;
        }

        h3 {
          grid-column: line-0 / line-1;
          grid-row: row-1 / row-2;
          text-align: left;
          margin: 0;
        }

        p {
          text-align: left;
          grid-column: line-0 / line-1;

          &:nth-of-type(1) {
            grid-row: row-2 / row-3;
          }

          &:nth-of-type(2) {
            grid-row: row-3 / row-4;
          }

          &:nth-of-type(3) {
            grid-row: row-5 / row-6;
          }

          &:nth-of-type(4) {
            grid-row: row-6 / row-7;
          }

          &:nth-of-type(5) {
            grid-row: row-7 / row-8;
          }

          &:nth-of-type(6) {
            grid-row: row-8 / row-9;
          }
        }

        ul {
          grid-column: line-0 / line-1;
          grid-row: row-4 / row-5;
          text-align: left;
        }

        // IMAGES ON THE PAGE //
        img {
          background-color: grey;
          grid-column: line-1 / line-2;
          width: 70%;
          height: 20vh;
          justify-self: center;

          &:nth-of-type(1) {
            grid-row: row-2 / row-3;
          }

          &:nth-of-type(2) {
            grid-row: row-4 / row-5;
          }

          &:nth-of-type(3) {
            grid-row: row-6 / row-8;
          }

          &:nth-of-type(4) {
            grid-row: row-8 / row-9;
          }
        }
      }
    }
  }
}
