/** MOBILE VERSION OF PORTFOLIO WEBSITE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 999 PIXELS **/
@media all and (max-width: 999px) {
  section {
    // HEADING SECTION //
    &:nth-of-type(1) {
      height: 55vh;
      padding-top: 10vh;

      h1 { // NAME //
        margin: 0;
        font-weight: 900;
        line-height: 100%;
        font-size: 60px;

        &:nth-of-type(1) {
          text-align: left;
          padding-left: 5vw;
          animation: fade 2s 2s backwards; // SECOND ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          text-align: right;
          padding-right: 5vw;
          animation: fade 2s 2s backwards; // SECOND ANIMATION ON PAGE //
        }
      }

      h2 { // SMALLER TEXT //
        margin: 0;
        font-weight: 700;
        font-size: 20px;

        &:nth-of-type(1) {
          text-align: left;
          padding-left: 5vw;
          animation: fade 2s 0.5s backwards; // FIRST ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          text-align: right;
          padding-right: 5vw;
          animation: fade 2s 3.5s backwards; // THIRD ANIMATION ON PAGE //
        }
      }

      // IMAGE DISPLAYED //
      img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        padding-top: 2vh;
      }

      // ENABLES ELEMENTS TO FADE IN ON LOAD //
      @keyframes fade {
        from { opacity: 0 }
        to { opacity: 1 }
      }
    }

    // THREE BUTTONS SECTION //
    &:nth-of-type(2) {
      height: 35vh;

      h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        place-self: center;
        margin: 0;
        padding-top: 5vh;

        // DISTINGUISH BETWEEN DIFFERENT ANIMATIONS //
        &:nth-of-type(1) {
          animation: fade 2s 4s backwards; // FOURTH ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          animation: fade 2s 4.5s backwards; // FIFTH ANIMATION ON PAGE //
        }

        &:nth-of-type(3) {
          animation: fade 2s 5s backwards; // SIXTH ANIMATION ON PAGE //
        }
      }

      // ENABLES ELEMENTS TO FADE IN ON LOAD //
      @keyframes fade {
        from { opacity: 0 }
        to { opacity: 1 }
      }
    }

    // ABOUT CAMERON SECTION //
    &:nth-of-type(3) {
      height: 100vh;
      margin-top: 10vh;

      h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        margin: 0;
      }

      p {
        text-align: center;
        margin: 0;
        font-size: 15px;
        padding: 1vh 5vw;
      }

      img {
        width: 0;
        height: 0;
      }
    }

    // CAMERON'S WORK SECTION //
    &:nth-of-type(4) {
      height: 100vh;
      margin-top: 10vh;
      display: grid;
      grid-template-columns: [line-0]100vw [line-1];
      grid-template-rows: [row-0]20vh [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7];

      h1 {
        grid-column: line-0 / line-1;
        grid-row: row-0 / row-1;
        font-size: 60px;
        font-weight: 900;
        place-self: center;
        text-align: center;
        margin: 0;
      }

      // IMAGES OF MOBILE AND DESKTOP SITES //
      img {
        width: auto;
        height: 20vh;
        align-self: end;
        justify-self: center;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-0 / line-1;
          grid-row: row-4 / row-5;
        }
      }

      h2 {
        font-size: 30px;
        font-weight: bold;
        align-self: end;
        margin: 0;
        text-align: center;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-2 / row-3;
        }

        &:nth-of-type(2) {
          grid-column: line-0 / line-1;
          grid-row: row-5 / row-6;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        text-align: center;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(2) {
          grid-column: line-0 / line-1;
          grid-row: row-6 / row-7;
        }
      }
    }

    // CONTACT CAMERON SECTION //
    &:nth-of-type(5) {
      height: 100vh;
      margin-top: 10vh;

      h1 {
        margin: 0;
        font-weight: 900;
        font-size: 60px;
        text-align: center;
      }

      p {
        text-align: center;
        margin: 0;
        padding: 2vh 5vw;

        &:nth-of-type(2) {
          line-height: 250%;
        }

        &:nth-of-type(3) {
          margin-top: 10vh;
        }

        &:nth-of-type(4) {
          margin-top: 10vh;
        }
      }

      img {
        width: 0;
        height: 0;
      }
    }
  }
}

/** DESKTOP VERSION OF PORTFOLIO WEBSITE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section {
    // HEADINGS SECTION //
    &:nth-of-type(1) {
      display: grid;
      grid-template-columns: [line-0]5vw [line-1]50vw [line-2]5vw [line-3]40vw [line-4];
      grid-template-rows: [row-0]5vh [row-1]10vh [row-2]17.5vh [row-3]17.5vh [row-4]10vh [row-5]5vh [row-6];

      h1 { // NAME //
        margin: 0;
        font-size: 120px;
        font-weight: 900;
        line-height: 100%;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-2 / row-3;
          text-align: left;
          align-self: end;
          animation: fade 2s 2s backwards; // SECOND ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
          text-align: right;
          align-self: start;
          animation: fade 2s 2s backwards; // SECOND ANIMATION ON PAGE //
        }
      }

      h2 { // SMALLER HEADINGS //
        align-self: center;
        margin: 0;
        font-weight: 700;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
          text-align: left;
          align-self: end;
          animation: fade 2s 0.5s backwards; // FIRST ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-4 / row-5;
          text-align: right;
          align-self: start;
          animation: fade 2s 3.5s backwards; // FOURTH ANIMATION ON PAGE //
        }
      }

      img { // IMAGE //
        clip-path: circle(70% at 75% 25%);
        background-color: grey;
        grid-column: line-3 / line-4;
        grid-row: row-0 / row-6;
        width: 30vw;
        height: auto;
        justify-self: end;
        animation: fade 2s 3s backwards; // THIRD ANIMATION ON PAGE //
        object-fit: cover;
      }

      // ENABLES ELEMENTS TO FADE IN ON LOAD //
      @keyframes fade {
        from { opacity: 0 }
        to { opacity: 1 }
      }
    }

    // THREE BUTTONS SECTION //
    &:nth-of-type(2) {
      display: grid;
      grid-template-columns: [line-0]25vw [line-1]25vw [line-2]25vw [line-3];
      grid-template-rows: [row-0]35vh [row-1];
      justify-content: center;

      h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        place-self: center;
        margin: 0;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-0 / row-1;
          animation: fade 2s 4s backwards; // FIFTH ANIMATION ON PAGE //
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-0 / row-1;
          animation: fade 2s 4.5s backwards; // SIXTH ANIMATION ON PAGE //
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-0 / row-1;
          animation: fade 2s 5s backwards; // SEVENTH ANIMATION ON PAGE //
        }

        // BUTTONS INCREASE IN SIZE WHEN HOVERED OVER //
        &:hover {
          font-size: 50px;
        }
      }

      // ENABLES ELEMENTS TO FADE IN ON LOAD //
      @keyframes fade {
        from { opacity: 0 }
        to { opacity: 1 }
      }
    }

    // ABOUT CAMERON SECTION //
    &:nth-of-type(3) {
      height: 100vh;
      display: grid;
      grid-template-columns: [line-0]25vw [line-1]40vw [line-2]25vw [line-3];
      grid-template-rows: [row-0]16vh [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5]auto [row-6]auto [row-7];
      justify-content: center;

      h1 { // HEADING STRETCHES WIDTH OF DEVICE //
        grid-column: line-0 / line-3;
        grid-row: row-0 / row-1;
        font-size: 100px;
        font-weight: 900;
        place-self: center;
        text-align: center;
        margin: 0;
        padding-top: 3vh;
      }

      // IMAGE IN ABOUT CAMERON SECTION //
      img {
        background-color: grey;
        width: 20vw;
        align-self: center;
        object-fit: cover;

        &:nth-of-type(1) {
          grid-column: line-0 / line-1;
          grid-row: row-1 / row-7;
          height: 50vh;
          justify-self: start;
          transform: rotate(-10deg); // ROTATED SLIGHTLY //
          border: 5px solid #d9dae2;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-7;
          height: 50vh;
          justify-self: end;
          transform: rotate(10deg); // ROTATED SLIGHTLY //
          border: 5px solid #d9dae2;
        }
      }

      p {
        text-align: center;
        font-size: 20px;
        margin: 0;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-2;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-2 / row-3;
        }

        &:nth-of-type(3) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
        }

        &:nth-of-type(4) {
          grid-column: line-1 / line-2;
          grid-row: row-4 / row-5;
        }

        &:nth-of-type(5) {
          grid-column: line-1 / line-2;
          grid-row: row-5 / row-6;
        }

        &:nth-of-type(6) {
          grid-column: line-1 / line-2;
          grid-row: row-6 / row-7;
        }
      }
    }

    // CAMERON'S WORK SECTION //
    &:nth-of-type(4) {
      margin-top: 10vh;
      display: grid;
      grid-template-columns: [line-0]5vw [line-1]45vw [line-2]45vw [line-3]5vw [line-4];
      grid-template-rows: [row-0]16vh [row-1]21vh [row-2]21vh [row-3]21vh [row-4]21vh [row-5];

      h1 { // HEADING STRETCHES WIDTH OF DEVICE //
        grid-column: line-0 / line-4;
        grid-row: row-0 / row-1;
        font-size: 100px;
        font-weight: 900;
        place-self: center;
        text-align: center;
        margin: 0;
        padding-top: 3vh;
      }

      img { // MOBILE AND DESKTOP VERSIONS ON WEBSITES IMAGES //
        width: auto;
        height: 40vh;
        place-self: center;

        &:nth-of-type(1) {
          grid-column: line-1 / line-2;
          grid-row: row-1 / row-3;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-3 / row-5;
        }
      }

      h2 {
        font-size: 50px;
        font-weight: bold;
        align-self: end;
        margin: 0;

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-1 / row-2;
          text-align: left;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-3 / row-4;
          text-align: right;
        }
      }

      p {
        margin: 0;
        font-size: 28px;

        &:nth-of-type(1) {
          grid-column: line-2 / line-3;
          grid-row: row-2 / row-3;
          text-align: left;
        }

        &:nth-of-type(2) {
          grid-column: line-1 / line-2;
          grid-row: row-4 / row-5;
          text-align: right;
        }
      }
    }

    // CONTACT CAMERON SECTION //
    &:nth-of-type(5) {
      margin-top: 10vh;
      height: 100vh;
      display: grid;
      grid-template-columns: [line-0]25vw [line-1]25vw [line-2]40vw [line-3]10vw [line-4];
      grid-template-rows: [row-0]16vh [row-1]auto [row-2]auto [row-3]auto [row-4]auto [row-5];

      h1 { // HEADING STRETCHES WIDTH OF DEVICE //
        grid-column: line-0 / line-4;
        grid-row: row-0 / row-1;
        font-size: 100px;
        font-weight: 900;
        place-self: center;
        text-align: center;
        margin: 0;
        padding-top: 3vh;
      }

      p {
        margin: 0;
        align-self: center;
        font-size: 28px;

        &:nth-of-type(1) {
          grid-column: line-1 / line-4;
          grid-row: row-1 / row-2;
          text-align: center;
          margin: 0vh 15vw;
        }

        &:nth-of-type(2) {
          grid-column: line-2 / line-3;
          grid-row: row-2 / row-3;
          text-align: right;
        }

        &:nth-of-type(3) {
          grid-column: line-2 / line-3;
          grid-row: row-3 / row-4;
          text-align: right;
        }

        &:nth-of-type(4) {
          grid-column: line-2 / line-3;
          grid-row: row-4 / row-5;
          text-align: right;
        }
      }

      img { // IMAGE AS A CIRCLE IN BOTTOM LEFT HAND CORNER //
        clip-path: circle(70% at 25% 75%);
        background-color: grey;
        grid-column: line-0 / line-2;
        grid-row: row-1 / row-5;
        width: 45vw;
        height: auto;
        justify-self: start;
        align-self: end;
        object-fit: cover;
        max-height: 80vh;
      }
    }
  }
}
