// INVOLVEMENT OF SASS //
@import "home";
@import "beecentre";
@import "doggiewalks";

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  h1, h2, h3, h4, h5, h6 { // HEADING STYLING //
    font-family: 'Montserrat', sans-serif;
    color: #d9dae2;
  }

  p {
    font-family: 'Work Sans', sans-serif;
    color: #d9dae2;
  }

  a {
    text-decoration: none;
    color: #d9dae2;
  }

  ul {
    li {
      font-family: 'Work Sans', sans-serif;
      color: #d9dae2;
    }
  }

  margin: 0;
  padding: 0;
  background-color: #2c3659;
}
