/** MOBILE VERSION OF PORTFOLIO WEBSITE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 999 PIXELS **/
@media all and (max-width: 999px) {
  section:nth-of-type(1) {
    height: 55vh;
    padding-top: 10vh;
  }
  section:nth-of-type(1) h1 {
    margin: 0;
    font-weight: 900;
    line-height: 100%;
    font-size: 60px;
  }
  section:nth-of-type(1) h1:nth-of-type(1) {
    text-align: left;
    padding-left: 5vw;
    animation: fade 2s 2s backwards;
  }
  section:nth-of-type(1) h1:nth-of-type(2) {
    text-align: right;
    padding-right: 5vw;
    animation: fade 2s 2s backwards;
  }
  section:nth-of-type(1) h2 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
  }
  section:nth-of-type(1) h2:nth-of-type(1) {
    text-align: left;
    padding-left: 5vw;
    animation: fade 2s 0.5s backwards;
  }
  section:nth-of-type(1) h2:nth-of-type(2) {
    text-align: right;
    padding-right: 5vw;
    animation: fade 2s 3.5s backwards;
  }
  section:nth-of-type(1) img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    padding-top: 2vh;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  section:nth-of-type(2) {
    height: 35vh;
  }
  section:nth-of-type(2) h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    place-self: center;
    margin: 0;
    padding-top: 5vh;
  }
  section:nth-of-type(2) h2:nth-of-type(1) {
    animation: fade 2s 4s backwards;
  }
  section:nth-of-type(2) h2:nth-of-type(2) {
    animation: fade 2s 4.5s backwards;
  }
  section:nth-of-type(2) h2:nth-of-type(3) {
    animation: fade 2s 5s backwards;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  section:nth-of-type(3) {
    height: 100vh;
    margin-top: 10vh;
  }
  section:nth-of-type(3) h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
  }
  section:nth-of-type(3) p {
    text-align: center;
    margin: 0;
    font-size: 15px;
    padding: 1vh 5vw;
  }
  section:nth-of-type(3) img {
    width: 0;
    height: 0;
  }
  section:nth-of-type(4) {
    height: 100vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] 20vh [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7];
  }
  section:nth-of-type(4) h1 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    font-size: 60px;
    font-weight: 900;
    place-self: center;
    text-align: center;
    margin: 0;
  }
  section:nth-of-type(4) img {
    width: auto;
    height: 20vh;
    align-self: end;
    justify-self: center;
  }
  section:nth-of-type(4) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
  }
  section:nth-of-type(4) img:nth-of-type(2) {
    grid-column: line-0/line-1;
    grid-row: row-4/row-5;
  }
  section:nth-of-type(4) h2 {
    font-size: 30px;
    font-weight: bold;
    align-self: end;
    margin: 0;
    text-align: center;
  }
  section:nth-of-type(4) h2:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
  }
  section:nth-of-type(4) h2:nth-of-type(2) {
    grid-column: line-0/line-1;
    grid-row: row-5/row-6;
  }
  section:nth-of-type(4) p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  section:nth-of-type(4) p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
  }
  section:nth-of-type(4) p:nth-of-type(2) {
    grid-column: line-0/line-1;
    grid-row: row-6/row-7;
  }
  section:nth-of-type(5) {
    height: 100vh;
    margin-top: 10vh;
  }
  section:nth-of-type(5) h1 {
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
  }
  section:nth-of-type(5) p {
    text-align: center;
    margin: 0;
    padding: 2vh 5vw;
  }
  section:nth-of-type(5) p:nth-of-type(2) {
    line-height: 250%;
  }
  section:nth-of-type(5) p:nth-of-type(3) {
    margin-top: 10vh;
  }
  section:nth-of-type(5) p:nth-of-type(4) {
    margin-top: 10vh;
  }
  section:nth-of-type(5) img {
    width: 0;
    height: 0;
  }
}
/** DESKTOP VERSION OF PORTFOLIO WEBSITE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 1000 PIXELS **/
@media all and (min-width: 1000px) {
  section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 5vw [line-1] 50vw [line-2] 5vw [line-3] 40vw [line-4];
    grid-template-rows: [row-0] 5vh [row-1] 10vh [row-2] 17.5vh [row-3] 17.5vh [row-4] 10vh [row-5] 5vh [row-6];
  }
  section:nth-of-type(1) h1 {
    margin: 0;
    font-size: 120px;
    font-weight: 900;
    line-height: 100%;
  }
  section:nth-of-type(1) h1:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    text-align: left;
    align-self: end;
    animation: fade 2s 2s backwards;
  }
  section:nth-of-type(1) h1:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: right;
    align-self: start;
    animation: fade 2s 2s backwards;
  }
  section:nth-of-type(1) h2 {
    align-self: center;
    margin: 0;
    font-weight: 700;
  }
  section:nth-of-type(1) h2:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: left;
    align-self: end;
    animation: fade 2s 0.5s backwards;
  }
  section:nth-of-type(1) h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    text-align: right;
    align-self: start;
    animation: fade 2s 3.5s backwards;
  }
  section:nth-of-type(1) img {
    clip-path: circle(70% at 75% 25%);
    background-color: grey;
    grid-column: line-3/line-4;
    grid-row: row-0/row-6;
    width: 30vw;
    height: auto;
    justify-self: end;
    animation: fade 2s 3s backwards;
    object-fit: cover;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 25vw [line-3];
    grid-template-rows: [row-0] 35vh [row-1];
    justify-content: center;
  }
  section:nth-of-type(2) h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    place-self: center;
    margin: 0;
  }
  section:nth-of-type(2) h2:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    animation: fade 2s 4s backwards;
  }
  section:nth-of-type(2) h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    animation: fade 2s 4.5s backwards;
  }
  section:nth-of-type(2) h2:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
    animation: fade 2s 5s backwards;
  }
  section:nth-of-type(2) h2:hover {
    font-size: 50px;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  section:nth-of-type(3) {
    height: 100vh;
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 40vw [line-2] 25vw [line-3];
    grid-template-rows: [row-0] 16vh [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7];
    justify-content: center;
  }
  section:nth-of-type(3) h1 {
    grid-column: line-0/line-3;
    grid-row: row-0/row-1;
    font-size: 100px;
    font-weight: 900;
    place-self: center;
    text-align: center;
    margin: 0;
    padding-top: 3vh;
  }
  section:nth-of-type(3) img {
    background-color: grey;
    width: 20vw;
    align-self: center;
    object-fit: cover;
  }
  section:nth-of-type(3) img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-7;
    height: 50vh;
    justify-self: start;
    transform: rotate(-10deg);
    border: 5px solid #d9dae2;
  }
  section:nth-of-type(3) img:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-7;
    height: 50vh;
    justify-self: end;
    transform: rotate(10deg);
    border: 5px solid #d9dae2;
  }
  section:nth-of-type(3) p {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  section:nth-of-type(3) p:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
  }
  section:nth-of-type(3) p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  section:nth-of-type(3) p:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
  }
  section:nth-of-type(3) p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
  section:nth-of-type(3) p:nth-of-type(5) {
    grid-column: line-1/line-2;
    grid-row: row-5/row-6;
  }
  section:nth-of-type(3) p:nth-of-type(6) {
    grid-column: line-1/line-2;
    grid-row: row-6/row-7;
  }
  section:nth-of-type(4) {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: [line-0] 5vw [line-1] 45vw [line-2] 45vw [line-3] 5vw [line-4];
    grid-template-rows: [row-0] 16vh [row-1] 21vh [row-2] 21vh [row-3] 21vh [row-4] 21vh [row-5];
  }
  section:nth-of-type(4) h1 {
    grid-column: line-0/line-4;
    grid-row: row-0/row-1;
    font-size: 100px;
    font-weight: 900;
    place-self: center;
    text-align: center;
    margin: 0;
    padding-top: 3vh;
  }
  section:nth-of-type(4) img {
    width: auto;
    height: 40vh;
    place-self: center;
  }
  section:nth-of-type(4) img:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-3;
  }
  section:nth-of-type(4) img:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-5;
  }
  section:nth-of-type(4) h2 {
    font-size: 50px;
    font-weight: bold;
    align-self: end;
    margin: 0;
  }
  section:nth-of-type(4) h2:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: left;
  }
  section:nth-of-type(4) h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: right;
  }
  section:nth-of-type(4) p {
    margin: 0;
    font-size: 28px;
  }
  section:nth-of-type(4) p:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    text-align: left;
  }
  section:nth-of-type(4) p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
    text-align: right;
  }
  section:nth-of-type(5) {
    margin-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: [line-0] 25vw [line-1] 25vw [line-2] 40vw [line-3] 10vw [line-4];
    grid-template-rows: [row-0] 16vh [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5];
  }
  section:nth-of-type(5) h1 {
    grid-column: line-0/line-4;
    grid-row: row-0/row-1;
    font-size: 100px;
    font-weight: 900;
    place-self: center;
    text-align: center;
    margin: 0;
    padding-top: 3vh;
  }
  section:nth-of-type(5) p {
    margin: 0;
    align-self: center;
    font-size: 28px;
  }
  section:nth-of-type(5) p:nth-of-type(1) {
    grid-column: line-1/line-4;
    grid-row: row-1/row-2;
    text-align: center;
    margin: 0vh 15vw;
  }
  section:nth-of-type(5) p:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    text-align: right;
  }
  section:nth-of-type(5) p:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    text-align: right;
  }
  section:nth-of-type(5) p:nth-of-type(4) {
    grid-column: line-2/line-3;
    grid-row: row-4/row-5;
    text-align: right;
  }
  section:nth-of-type(5) img {
    clip-path: circle(70% at 25% 75%);
    background-color: grey;
    grid-column: line-0/line-2;
    grid-row: row-1/row-5;
    width: 45vw;
    height: auto;
    justify-self: start;
    align-self: end;
    object-fit: cover;
    max-height: 80vh;
  }
}
/** MOBILE VERSION OF PAGE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 999 PIXELS **/
@media all and (max-width: 999px) {
  main.bee_centre section:nth-of-type(1) {
    height: auto;
  }
  main.bee_centre section:nth-of-type(1) h1 {
    margin: 0;
    font-weight: 900;
    line-height: 100%;
    font-size: 60px;
    text-align: center;
    padding: 0;
    animation: none;
  }
  main.bee_centre section:nth-of-type(2) {
    height: auto;
    padding-bottom: 5vh;
  }
  main.bee_centre section:nth-of-type(2) h2 {
    text-align: center;
    margin: 0;
  }
  main.bee_centre section:nth-of-type(2) h3 {
    text-align: center;
    margin: 0;
  }
  main.bee_centre section:nth-of-type(2) p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  main.bee_centre section:nth-of-type(2) img {
    background-color: grey;
    width: 100%;
    height: 35vh;
  }
  main.bee_centre section:nth-of-type(2) img:nth-of-type(4) {
    width: 0;
    height: 0;
  }
}
/** DESKTOP VERSION OF PAGE **/
/** MINIMUM SCREEN DEVICE WIDTH OF 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.bee_centre section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1];
  }
  main.bee_centre section:nth-of-type(1) h1 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    text-align: center;
    animation: none;
  }
  main.bee_centre section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 50vw [line-1] 30vw [line-2];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9];
    justify-content: center;
  }
  main.bee_centre section:nth-of-type(2) h2 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    text-align: left;
    place-self: start;
    animation: none;
  }
  main.bee_centre section:nth-of-type(2) h3 {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    text-align: left;
    margin: 0;
  }
  main.bee_centre section:nth-of-type(2) p {
    text-align: left;
    grid-column: line-0/line-1;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(3) {
    grid-row: row-5/row-6;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(4) {
    grid-row: row-6/row-7;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(5) {
    grid-row: row-7/row-8;
  }
  main.bee_centre section:nth-of-type(2) p:nth-of-type(6) {
    grid-row: row-8/row-9;
  }
  main.bee_centre section:nth-of-type(2) ul {
    grid-column: line-0/line-1;
    grid-row: row-4/row-5;
    text-align: left;
  }
  main.bee_centre section:nth-of-type(2) img {
    background-color: grey;
    grid-column: line-1/line-2;
    width: 70%;
    height: 20vh;
    justify-self: center;
  }
  main.bee_centre section:nth-of-type(2) img:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  main.bee_centre section:nth-of-type(2) img:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  main.bee_centre section:nth-of-type(2) img:nth-of-type(3) {
    grid-row: row-6/row-8;
  }
  main.bee_centre section:nth-of-type(2) img:nth-of-type(4) {
    grid-row: row-8/row-9;
  }
}
/** MOBILE VERSION OF PAGE **/
/** MAXIMUM SCREEN DEVICE WIDTH OF 999 PIXELS **/
@media all and (max-width: 999px) {
  main.doggie_walks section:nth-of-type(1) {
    height: auto;
  }
  main.doggie_walks section:nth-of-type(1) h2 {
    display: none;
  }
  main.doggie_walks section:nth-of-type(1) h1 {
    margin: 0;
    font-weight: 900;
    line-height: 100%;
    font-size: 60px;
    text-align: center;
    padding: 0;
  }
  main.doggie_walks section:nth-of-type(2) {
    height: auto;
    padding-bottom: 5vh;
  }
  main.doggie_walks section:nth-of-type(2) h2 {
    text-align: center;
    margin: 0;
  }
  main.doggie_walks section:nth-of-type(2) h3 {
    text-align: center;
    margin: 0;
  }
  main.doggie_walks section:nth-of-type(2) p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  main.doggie_walks section:nth-of-type(2) img {
    background-color: grey;
    width: 100%;
    height: 35vh;
  }
  main.doggie_walks section:nth-of-type(2) img:nth-of-type(4) {
    width: 0;
    height: 0;
  }
}
/** DESKTOP VERSION OF PAGE **/
/** MINIMUM SCREEN DEVICE WIDTH OF 1000 PIXELS **/
@media all and (min-width: 1000px) {
  main.doggie_walks section:nth-of-type(1) {
    display: grid;
    grid-template-columns: [line-0] 100vw [line-1];
    grid-template-rows: [row-0] auto [row-1];
  }
  main.doggie_walks section:nth-of-type(1) h1 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    text-align: center;
    animation: none;
  }
  main.doggie_walks section:nth-of-type(2) {
    display: grid;
    grid-template-columns: [line-0] 50vw [line-1] 30vw [line-2];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5] auto [row-6] auto [row-7] auto [row-8] auto [row-9];
    justify-content: center;
  }
  main.doggie_walks section:nth-of-type(2) h2 {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
    text-align: left;
    place-self: start;
    animation: none;
  }
  main.doggie_walks section:nth-of-type(2) h3 {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    text-align: left;
    margin: 0;
  }
  main.doggie_walks section:nth-of-type(2) p {
    text-align: left;
    grid-column: line-0/line-1;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(2) {
    grid-row: row-3/row-4;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(3) {
    grid-row: row-5/row-6;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(4) {
    grid-row: row-6/row-7;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(5) {
    grid-row: row-7/row-8;
  }
  main.doggie_walks section:nth-of-type(2) p:nth-of-type(6) {
    grid-row: row-8/row-9;
  }
  main.doggie_walks section:nth-of-type(2) ul {
    grid-column: line-0/line-1;
    grid-row: row-4/row-5;
    text-align: left;
  }
  main.doggie_walks section:nth-of-type(2) img {
    background-color: grey;
    grid-column: line-1/line-2;
    width: 70%;
    height: 20vh;
    justify-self: center;
  }
  main.doggie_walks section:nth-of-type(2) img:nth-of-type(1) {
    grid-row: row-2/row-3;
  }
  main.doggie_walks section:nth-of-type(2) img:nth-of-type(2) {
    grid-row: row-4/row-5;
  }
  main.doggie_walks section:nth-of-type(2) img:nth-of-type(3) {
    grid-row: row-6/row-8;
  }
  main.doggie_walks section:nth-of-type(2) img:nth-of-type(4) {
    grid-row: row-8/row-9;
  }
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2c3659;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans-serif;
  color: #d9dae2;
}
body p {
  font-family: "Work Sans", sans-serif;
  color: #d9dae2;
}
body a {
  text-decoration: none;
  color: #d9dae2;
}
body ul li {
  font-family: "Work Sans", sans-serif;
  color: #d9dae2;
}

/*# sourceMappingURL=main.css.map */
